hr:not([size]) { 
    height: 4px;
    opacity: 1;
}

hr {
    border-radius: 4px;
    width: 50px;
    background: #6610f2;
    /* background-image: linear-gradient(to left, #ffc107, #28a745, #17a2b8); */
    /* background-image: linear-gradient(to left, #ceb8f1, #9a60f8, #6610f2);
    opacity: 1; */
}

#btnEnvoyer, #btnConnexion {
    background-color: #6610f2;
}

#btnEffacer {
    background-color: #ceb8f1;
}

svg {
    opacity: 0.25;
}
